@use "../../../assets/style/colors/colors"as *;

.PostReactions {
    display: flex;

    .ReactionItemBtn {
        display: flex;
        align-items: center;
        margin-right: 4rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: $darkGrayish;
        border: none;
        cursor: pointer;
        padding: 0;
        background: transparent;

        span {
            line-height: 2.4rem;
            margin-left: 1.8rem;
        }
    }

    a {
        text-decoration: none;
    }
}

.PostLocation {
    font-size: 1.6rem;
    font-weight: 600;
    color: $whiteish;
}