@use "../../../assets/style/colors/colors"as*;

.User {
    display: grid;
    grid-template-columns: [first] 6rem [line2] 15% [line3] 15% [line4] 25% [line5] 10% [line6] 10% [line7] 10% [end];
    grid-template-rows: 100%;
    align-items: center;
    padding: 1.3rem 0;
    list-style: none;
    border: 1px solid #EAEAF5;
    border-radius: 16px;

    .Avatar {
        width: 4.8rem;
        height: 4.8rem;
    }

    p {
        font-size: 1.8rem;
        font-weight: 300;
        word-wrap: break-word;
    }

    .Name {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .Type {
        margin-left: 1rem;
    }

    .ToggleStatusBtn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: none;
        font-size: 1.8rem;
        font-weight: 300;

        p {
            margin-left: 1.2rem;
        }
    }

}