@use "../../assets/style/colors/colors"as*;

.AddPostFormTitle {
    font-size: 4.8rem;
    font-weight: 600;
    margin: 0;

    span {
        color: $lightGreen;
    }
}

.AddPostForm {
    display: flex;
    flex-direction: column;
    width: calc(100% - 12rem);
    padding: 3.5rem 6rem;
    border-radius: 32px;
    box-shadow: 0 4px 12px $boxShadow;

    input,
    select {
        height: 4.8rem;
        margin-top: 3.2rem;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid $darkGrayish;
    }

    select,
    input::placeholder,
    input {
        font-size: 1.6rem;
    }

    input {
        color: $darkGray;
    }

    option[value=""][disabled] {
        display: none;
    }

    option {
        color: $darkGray;
        font-weight: 300;
        font-size: 1.6rem;
    }

    .PublishBtn,
    .DiscardBtn {
        display: block;
        width: 100%;
        height: 5.6rem;
        margin-top: 1.6rem;
        font-size: 1.6rem;
        font-weight: 600;
        border: none;
        border-radius: 100px;
    }

    .PublishBtn {
        margin-top: 4.8rem;
        background-color: $lightGreen;
        color: $whiteish;
    }

    .DiscardBtn {
        background-color: $whiteish;
    }
}