.Modal {
    position: fixed;
    top: calc(50% - 15rem);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40rem;
    max-width: calc(95% - 3.2rem);
    height: 30rem;
    padding: 1.6rem;
    background-color: #ffff;
    border-radius: 1.6rem;

    .CloseModalBtn {
        position: relative;
        display: block;
        padding: .2rem;
        width: 2.6rem;
        height: 2.6rem;
        float: right;
        border: none;
        background-color: transparent;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}