.Modal {
    position: fixed;
    top: calc(50% - 15rem);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40rem;
    max-width: calc(95% - 3.2rem);
    height: 30rem;
    padding: 1.6rem;
    background-color: #ffff;
    border-radius: 1.6rem;
    z-index: 1002;

    .CloseModalBtn {
        float: right;
        border: none;
    }
}