$darkGrayish: rgb(168, 167, 167);
$whiteish: rgb(234, 234, 245);
$darkGreen: rgb(0, 85, 44);
$lightGreen: rgb(0, 185, 96);
$darkGray: rgb(22, 22, 22);
$boxShadow: rgba(0, 0, 0, 0.16);
$backdrop: rgba(168, 167, 167, 0.4);
$errorRed: rgb(207, 5, 5);