@use "../../assets/style/colors/colors"as *;

.LoginForm {
    width: fit-content;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    color: $whiteish;

    h3 {
        margin: 0 0 4rem 0;
        font-size: 48px;
        font-weight: 600;

        span {
            color: green;
        }
    }
}