@use "../../assets/style/colors/colors"as *;

.ViewPost {
    display: flex;
    justify-content: center;

    padding: 1.8rem 1rem 0;

    .ViewPostLeftContent {
        padding-top: 5.5rem;

        ul {
            display: flex;
            margin: 1.8rem 0;
            padding: 0;
            font-size: 1.8rem;
            font-weight: 300;

            li {
                margin-right: 1.6rem;
                padding: 1rem;
                list-style: none;
                box-shadow: 0 4px 16px $boxShadow;
                border-radius: 16px;
            }
        }

        .ViewPostImg {
            position: relative;
            max-width: 85rem;
            overflow-x: hidden;

            img {
                width: 100%;
            }

            .ViewPostFooter {
                position: absolute;
                bottom: 0;
                width: calc(100% - 7rem);
                padding: 1.6rem 3.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgba(22, 22, 22, 0.5);
                border-radius: 0 0 16px 16px;

                @supports ((-webkit-backdrop-filter: blur(40px)) or (backdrop-filter: blur(40px))) {
                    background-color: rgba(22, 22, 22, 0.5);
                    -webkit-backdrop-filter: blur(40px);
                    backdrop-filter: blur(40px);
                }

                .PostLocation {
                    margin: 0;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: $whiteish;
                }
            }
        }
    }

    .ViewPostRightContent {
        width: 42rem;
        max-width: calc(100% - 2.4rem);
        padding: 3.2rem 1.8rem 1.8rem 1.8rem;
        margin-left: 2.4rem;
        box-shadow: 0 4px 12px $boxShadow;
        color: $darkGray;

        .ViewPostHeader {
            .PostInfo {
                display: flex;

                .PostInfoAvatar {
                    width: 6.4rem;
                    height: 6.4rem;
                }

                .PostInfoMeta {
                    margin-left: 1.8rem;

                    .PostAuthor {
                        margin: 0;
                        font-size: 2.4rem;
                        font-weight: 600;
                    }

                    .PostCreatedAt {
                        font-size: 1.6rem;
                        color: $darkGrayish;
                    }
                }
            }
        }

        .PostDescription {
            margin: 1.8rem 0;
            font-size: 2.4rem;
            font-weight: 600;
        }

        .PostReactions {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            padding: 1.6rem;
            border-radius: 16px;
            box-shadow: 0 4px 16px $boxShadow;
        }
    }
}