@use "../../assets/style/colors/colors"as*;

.NoPosts {
    width: 40rem;
    max-width: 95%;
    margin: 0 auto;
    color: $darkGray;
    text-align: center;

    h2 {
        font-size: 3.2rem;
        font-weight: 600;
    }

    p {
        font-size: 1.6rem;
        font-weight: 500;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 4.6rem;
        width: 13.2rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: $whiteish;
        border: none;
        border-radius: 100px;
        background-color: $lightGreen;
    }
}