@use "../../assets/style/colors/colors"as*;

.AddPost {
    display: flex;
    justify-content: space-around;
    min-height: calc(100vh - 7.2rem);

    .AddPostCover {
        width: calc(100% - 59rem);
        max-width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .AddPostImageWrapper {
            position: relative;

            .CoverMain {
                width: 48rem;
                height: 59rem;
                max-width: 100%;
            }

            .MountainTrail,
            .Waterfall {
                position: absolute;
            }

            .Waterfall {
                top: 30%;
                left: -4.2rem;
            }

            .MountainTrail {
                bottom: 7rem;
                right: -10rem;
            }
        }

        .AddPostTitle {
            font-size: 3.2rem;
            font-weight: 600;
            margin-bottom: 0;
        }
    }

    .AddPostContent {
        width: 59rem;
        max-width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(min-width: 1439px) {
    .AddPost {
        .AddPostCover {
            .AddPostImageWrapper {
                .Waterfall {
                    left: -7rem;
                }
            }
        }
    }
}