@use "../../../../assets/style/colors/colors"as*;

.ErrorModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 3.2rem); //Modal padding of 1.6rem top and bottom
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: $darkGray;

    p {
        width: 30rem;
        max-width: 100%;
        margin-top: 2rem;
    }
}