@use "../../../../assets/style/colors/colors"as*;

.ErrorModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: $darkGray;

    p {
        width: 30rem;
        max-width: 100%;
        margin-top: 2rem;
    }
}